%p#notice= notice

%p
  %b Cc:
  = @guest.cc
%p
  %b Email:
  = @guest.email
%p
  %b Name:
  = @guest.name
%p
  %b Phone:
  = @guest.phone
%p
  %b Gender:
  = @guest.gender
%p
  %b Height:
  = @guest.height
%p
  %b Dob:
  = @guest.dob
%p
  %b Next:
  = @guest.next
%p
  %b User:
  = @guest.user

= link_to 'Edit', edit_guest_path(@guest)
\|
= link_to 'Back', guests_path
