:javascript
  $(document).ready( function () {
      $('.datatable').DataTable({
        pagingType: 'simple',
        language: {
            searchPlaceholder: "Busca aquí",
            "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
        }   
      });
  } );
  
.row
  .col.s12
    .card
      .card-content.center-align
        .col.s12.center-align
          %h5.card-title
            = @foods.first&.group
            %br/
            %small (100gramos)
        .row  
          %table.datatable.striped.responsive.no-wrap
            %thead
              %tr
                %th Nombre
                %th Carbs
                %th Prote
                %th Grasas
            %tbody
              - @foods.each do |food|
                %tr
                  %td
                    -if !food.user == current_user || current_user&.admin?
                      = link_to food, method: :delete, data: { confirm: '¿Estas seguro?' } do
                        %i.material-icons.black-text delete_forever
                    %span
                      = food.name.capitalize
                      %small= "( #{food.status.downcase} )"
                  %td= food.carbohydrates
                  %td= food.proteins
                  %td= food.fats