:javascript
  $(window).load(function(){
    GetGuest();
    volumen_vals();
  });  
  
  $(document).on("keydown", "#plan_weight", function(e){
     $(".medir-g").removeClass("disabled");
     $(".medir-g").removeClass("disabled");
  });  
  $(document).on("change", "select#plan_guest_id", function(e){
    GetGuest();
  });
    
  $(document).on("change", "#input_2, #input_1", function(e){
     neck = $("#input_1").val();
     waist = $("#input_2").val();     
     bodyfat = (495 / ( (1.0324 - 0.19077 * Math.log10(parseFloat(waist) - parseFloat(neck))) + 0.15456 * Math.log10(parseFloat(height)) )) - 450
     $("#plan_fat").val(parseFloat(bodyfat).toFixed(1));
  });
  
  $(document).on("change", "#input_5, #input_4, #input_3", function(e){
     neck = $("#input_3").val();
     waist = $("#input_4").val();
     hip = $("#input_5").val();   
     bodyfat = (495 / ( (1.29579 - 0.35004 * Math.log10((parseFloat(waist) + parseFloat(hip)) - parseFloat(neck))) + 0.22100 * Math.log10(parseFloat(height)) )) - 450
     $("#plan_fat").val(parseFloat(bodyfat).toFixed(1));
  });
  
  $(document).on("change", "#input_11, #input_12, #input_13, #input_14, #input_15, #input_16", function(e){
     one = $("#input_11").val();
     two = $("#input_12").val();
     three = $("#input_13").val();
     four = $("#input_14").val();
     five = $("#input_15").val();
     six = $("#input_16").val();
     sum = +one + +two + +three + +four + +five + +six
     if ( one != "" && two != "" &&  three != "" &&  four != "" &&  five != "" &&  six != "" ) {
      sum = +one + +two + +three + +four + +five + +six
      if (gender == false ) {
        //hombre
        bodyfat = 0.1051 * sum + 2.585 
        $("#plan_fat").val(parseFloat(bodyfat).toFixed(1));
      } else {
        bodyfat = 0.1548 * sum + 3.580
        $("#plan_fat").val(parseFloat(bodyfat).toFixed(1));
      }

     }
     
  });  
  

  
  $(document).on("click", "#plan_goal_definicion", function(e){
    definicion_vals(); 
  });
  $(document).on("click", "#plan_goal_mantenimiento", function(e){
    mantenimiento_vals()
  });
  $(document).on("click", "#plan_goal_volumen", function(e){
    volumen_vals();
  });
  
  function GetGuest() {
     asesorado = $("select#plan_guest_id").val();
     if (asesorado != "") {
       gender = $("select#plan_guest_id").find(":selected").attr("data-gender");
       age = $("select#plan_guest_id").find(":selected").attr("data-age");
       height = $("select#plan_guest_id").find(":selected").attr("data-height");
       weight = $("#plan_weight").val();
       
       if (gender == false ) {
         $(".hombre-b").removeClass("hide");
         $(".mujer-b").addClass("hide");
       }else{
         $(".mujer-b").removeClass("hide");
         $(".hombre-b").addClass("hide");
       }
     }    
  };
  
  function volumen_vals() {
      $("#plan_proteins_dummy").val(25);
      $("#plan_carbs_dummy").val(45);
      $("#plan_fats_dummy").val(30);
      $("#plan_variation_dummy").val(20);
      
      $("#plan_proteins").val(25);
      $("#plan_carbs").val(45);
      $("#plan_fats").val(30);
      $("#plan_variation").val(20);      

      $("#plan_proteins").mobiscroll('setVal', 25);
      $("#plan_carbs").mobiscroll('setVal', 45);
      $("#plan_fats").mobiscroll('setVal', 30);
      $("#plan_variation").mobiscroll('setVal', 20);     
  };
  
  function mantenimiento_vals() {
     $("#plan_proteins_dummy").val(25);
     $("#plan_carbs_dummy").val(40);
     $("#plan_fats_dummy").val(35);
     $("#plan_variation_dummy").val(0);
     
     $("#plan_proteins").val(25);
     $("#plan_carbs").val(40);
     $("#plan_fats").val(35);
     $("#plan_variation").val(0);     
     
     $("#plan_proteins").mobiscroll('setVal', 25);
     $("#plan_carbs").mobiscroll('setVal', 40);
     $("#plan_fats").mobiscroll('setVal', 35);
     $("#plan_variation").mobiscroll('setVal', 0);     
  };

  function definicion_vals() {
     $("#plan_proteins_dummy").val(45);
     $("#plan_carbs_dummy").val(25);
     $("#plan_fats_dummy").val(30);
     $("#plan_variation_dummy").val(-20);
     
     $("#plan_proteins").val(45);
     $("#plan_carbs").val(25);
     $("#plan_fats").val(30);
     $("#plan_variation").val(-20);     
  
     $("#plan_proteins").mobiscroll('setVal', 45);
     $("#plan_carbs").mobiscroll('setVal', 25);
     $("#plan_fats").mobiscroll('setVal', 30);
     $("#plan_variation").mobiscroll('setVal', -20);   
  }
.col.s12
  = form_for @plan do |f|
    - if @plan.errors.any?
      .row#error_explanation
        .col.s12
          %b= "#{pluralize(@plan.errors.count, "error")} prohibited this plan from being saved:"
          %ul
            - @plan.errors.full_messages.each do |message|
              %li
                %b -
                = message
    .row
      .col.s12
        = f.label :guest, 'Correo del Asesorado'
        = f.select(:guest_id, @guests.collect{ |u| [u.email, u.id, {'data-gender' => u.gender, 'data-age' => u.age, 'data-height' => u.height}] }, { :selected => @default, :required => true  }, { :class => 'select-two' })
    .row
      .col.m6.s12
        = f.label :goal, 'Objetivo'
        %br/
        -Plan.goals.keys.each do |goal|
          %label{style: 'top: 0.5rem'}
            .col.s12
              = f.radio_button :goal, goal, class: "with-gap", checked: 'checked'
              %span=goal
      .col.m6.s12
        = f.label :activity, 'Nivel de Actividad'
        %br/
        -Plan.activities.keys.each do |actividad|
          %label{style: 'top: 0.5rem'}
            .col.s6
              = f.radio_button :activity, actividad, class: "with-gap", checked: 'checked'
              %span=actividad
    .row
      .col.m3.s12
        = f.label :weight, 'Peso'
        = f.number_field :weight, step: "0.1", placeholder: "Peso total en KG", required: true
      .col.m6.s12
        %label.active Calcular porcentaje graso:
        %br/
        .center-align.small-margin-top
          .col.s6
            %a.btn.waves-effect.waves-light.btn-flat.disabled.medir-g.modal-trigger{:href => "#modalB"} BÁSICO
          .col.s6
            %a.btn.waves-effect.waves-light.btn-flat.disabled.medir-g.modal-trigger{:href => "#modalY"} YUHASZ
      .col.m3.s12
        = f.label :fat, 'Porcentaje Graso'
        = f.number_field :fat, step: "0.1", placeholder: "Porcentaje graso"
    .row
      .col.m3.s12
        = f.label :proteins, '% Proteinas'
        = f.select(:proteins, (0..100), { required: true }, { :class => 'scroll-bubble' })
      .col.m3.s12
        = f.label :carbs, '% Carbohidratos'
        = f.select(:carbs, (0..100), { required: true }, { :class => 'scroll-bubble' })
      .col.m3.s12
        = f.label :fats, '% Grasas'
        = f.select(:fats, (0..100), { required: true }, { :class => 'scroll-bubble' })
      .col.m3.s12
        = f.label :variation, '% Variacion total KCAL'
        = f.select(:variation, (-100..100), { required: true, :selected => 0 }, { :class => 'scroll-bubble' })
    .row        
      .col.m6.s12
        = f.label :description, 'Descripción'
        = f.text_area :description, placeholder: "Descripción", class: 'materialize-textarea'       
      .col.m6.s12
        = f.label :next, 'Fecha del proximo Plan'
        = f.text_field :next, :value => Date.today >> 1, class: "datepicker"
    .actions.center-align
      = f.submit 'Crear', class: 'btn waves-effect waves-light white-text'
      
#modalB.modal.bottom-sheet{style: "max-height: 70%"}
  .modal-content
    %h4 Cálculo Básico
    .row.hombre-b.hide
      .col.s12.m6
        .input-field
          %input#input_1.validate{:type => "text", :required => true}/
          %label.active{:for => "input_1"} Medida Cuello (CM)
      .col.s12.m6      
        .input-field
          %input#input_2.validate{:type => "text", :required => true}/
          %label.active{:for => "input_2"} Medida Cintura (CM)
    .row.mujer-b.hide
      .col.s12.m4
        .input-field
          %input#input_3.validate{:type => "text", :required => true}/
          %label.active{:for => "input_3"} Medida Cuello (CM)
      .col.s12.m4      
        .input-field
          %input#input_4.validate{:type => "text", :required => true}/
          %label.active{:for => "input_4"} Medida Cintura (CM) 
      .col.s12.m4      
        .input-field
          %input#input_5.validate{:type => "text", :required => true}/
          %label.active{:for => "input_5"} Medida Cadera (CM) 


#modalY.modal.bottom-sheet
  .modal-content
    %h4 Fórmula Yuhasz
    .row
      .col.s6
        .input-field
          %input#input_11.validate{:type => "number", :required => true, :step => "0.1"}/
          %label.active{:for => "input_11"} Pliegue Triceps
      .col.s6
        .input-field
          %input#input_12.validate{:type => "number", :required => true, :step => "0.1"}/
          %label.active{:for => "input_12"} Pliegue Subescapular  
      .col.s6
        .input-field
          %input#input_13.validate{:type => "number", :required => true, :step => "0.1"}/
          %label.active{:for => "input_13"} Pliegue Supraespinoso  
      .col.s6
        .input-field
          %input#input_14.validate{:type => "number", :required => true, :step => "0.1"}/
          %label.active{:for => "input_14"} Pliegue Abdomen  
      .col.s6
        .input-field
          %input#input_15.validate{:type => "number", :required => true, :step => "0.1"}/
          %label.active{:for => "input_15"} Pliegue Muslo-Frontal
      .col.s6
        .input-field
          %input#input_16.validate{:type => "number", :required => true, :step => "0.1"}/
          %label.active{:for => "input_16"} Pliegue Pantorrilla