%h1 Listing plans

%table
  %thead
    %tr
      %th User
      %th Guest
      %th Weight
      %th Fat
      %th Activity
      %th Goal
      %th Muscle mass
      %th Fat mass
      %th Skeletal mass
      %th Residual mass
      %th Lean mass
      %th Kcal
      %th Proteins
      %th Carbs
      %th Carbs
      %th Description
      %th
      %th
      %th

  %tbody
    - @plans.each do |plan|
      %tr
        %td= plan.user
        %td= plan.guest
        %td= plan.weight
        %td= plan.fat
        %td= plan.activity
        %td= plan.goal
        %td= plan.muscle_mass
        %td= plan.fat_mass
        %td= plan.skeletal_mass
        %td= plan.residual_mass
        %td= plan.lean_mass
        %td= plan.kcal
        %td= plan.proteins
        %td= plan.carbs
        %td= plan.carbs
        %td= plan.description
        %td= link_to 'Show', plan
        %td= link_to 'Edit', edit_plan_path(plan)
        %td= link_to 'Destroy', plan, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Plan', new_plan_path
